<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="Connection1" connectionString="Data Source=(local);Initial Catalog=AutoMapperSamplesDB;Integrated Security = true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>